body {
    background-color: #4b4e4c;
    color: #fff;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
header {
    display: block;
    background-color: #2a9754;
    padding: 40px 0;
}
.container {
    max-width: 960px;
    padding: 0 24px 0 24px;
    margin: auto;
    text-align: left;
}
h1 {
    font: 3em/1.2 'Varela Round', sans-serif;
    color: #ffffff;
}
.card {
    background-color: white;
    border-radius: 6px;
    color: #4b4e4c;
}
.card > img {
    max-width: 100%;
}
.card-content {
    padding: 0 24px 24px;
}
.card-content h3 {
    font-size: 24px;
}

@media screen and (min-width: 480px) {
    .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        width: calc(50% - 10px); 
    }
}
@media screen and (min-width: 720px) {
    .card {
        width: calc(33.3% - 10px); 
    }
}




















