body {
    background: #e8e8e8;
    text-align: center;
    font-family: 'Barlow Semi Condensed', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-size: 30px;
}
.member-list {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}
.member-item {
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    padding: 24px;
    margin: 12px;
    text-align: center;
}
.member-item section {
    margin-bottom: 12px;
}
.portrait {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.button {
    display: inline-block;
    background: #333;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
}
.mv-bar.mv-ui {
    position: fixed;
    z-index: 1;
    bottom: 4px;
    top: auto;
    left: 4px;
    right: 4px;
    margin-bottom: 0 !important;
    padding: 0 8px;
    background: rgba(0, 0, 0, 0.5);
}
.mv-bar h1 {
    margin: 0;
    font-size: 18px;
}
